salse performance Analysis:
    problem statement Analyze the overall performance by calcylation the total revenue , avarage  profit  margin , and the number of units sold identtify the 
    top-selling product and categories Tasks :
        calculate total recenue for eacj product and overall
        calculate the average profit margin for each product
        identify the top-spelling product and cartegories

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df  = pd.read_csv("D:\\Downloadss\\sales_data.csv")

In [4]:
df

,Unnamed: 0,ProductID,QuantitySold,Price,Discount,Category,Supplier,Date,CustomerID,Country,Profit
0,0,C,8,75.539471,0.064576,Toys,Supplier1,2022-01-01,1148,USA,20.835021
1,1,A,8,43.100482,0.142251,Toys,Supplier3,2022-01-02,1079,USA,11.003640
2,2,C,3,66.907525,0.198508,Clothing,Supplier2,2022-01-03,1885,Canada,6.896583
3,3,C,1,67.017674,0.071013,Home,Supplier3,2022-01-04,1212,USA,8.221993
4,4,A,8,58.219722,0.127749,Toys,Supplier3,2022-01-05,1202,UK,8.201146
...,...,...,...,...,...,...,...,...,...,...,...
95,95,A,7,25.254347,0.060585,Toys,Supplier2,2022-04-06,1216,Canada,26.637678
96,96,A,4,60.112114,0.146363,Toys,Supplier1,2022-04-07,1853,USA,25.426802
97,97,C,7,94.253930,0.053977,Electronics,Supplier1,2022-04-08,1826,Canada,11.447571
98,98,A,8,72.642682,0.137866,Electronics,Supplier1,2022-04-09,1794,USA,9.272190
99,99,A,1,61.305505,0.191035,Home,Supplier3,2022-04-10,1688,Canada,21.716080

In [5]:
df.isnull().sum()

Unnamed: 0      0
ProductID       0
QuantitySold    0
Price           0
Discount        0
Category        0
Supplier        0
Date            0
CustomerID      0
Country         0
Profit          0
dtype: int64

In [6]:
df.describe()

,Unnamed: 0,QuantitySold,Price,Discount,CustomerID,Profit
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,49.500000,4.900000,56.589035,0.122724,1500.460000,15.310921
std,29.011492,2.724746,26.429410,0.042624,298.567233,6.866115
min,0.000000,1.000000,10.455543,0.052159,1004.000000,5.501780
25%,24.750000,3.000000,32.900827,0.087442,1231.000000,9.327754
50%,49.500000,5.000000,60.629944,0.127597,1506.500000,14.091902
75%,74.250000,7.000000,75.950660,0.155417,1766.750000,20.731888
max,99.000000,9.000000,97.570950,0.198508,1971.000000,29.662881

In [8]:
df.corr()

C:\Users\Jarvis\AppData\Local\Temp\ipykernel_11204\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Unnamed: 0,QuantitySold,Price,Discount,CustomerID,Profit
Unnamed: 0,1.000000,-0.143243,0.130132,-0.159404,0.081723,0.172451
QuantitySold,-0.143243,1.000000,-0.001824,-0.044419,0.053224,0.108056
Price,0.130132,-0.001824,1.000000,-0.242511,-0.088698,-0.241648
Discount,-0.159404,-0.044419,-0.242511,1.000000,-0.045925,-0.043934
CustomerID,0.081723,0.053224,-0.088698,-0.045925,1.000000,0.170419
Profit,0.172451,0.108056,-0.241648,-0.043934,0.170419,1.000000

In [9]:
df.tail()

,Unnamed: 0,ProductID,QuantitySold,Price,Discount,Category,Supplier,Date,CustomerID,Country,Profit
95,95,A,7,25.254347,0.060585,Toys,Supplier2,2022-04-06,1216,Canada,26.637678
96,96,A,4,60.112114,0.146363,Toys,Supplier1,2022-04-07,1853,USA,25.426802
97,97,C,7,94.253930,0.053977,Electronics,Supplier1,2022-04-08,1826,Canada,11.447571
98,98,A,8,72.642682,0.137866,Electronics,Supplier1,2022-04-09,1794,USA,9.272190
99,99,A,1,61.305505,0.191035,Home,Supplier3,2022-04-10,1688,Canada,21.716080

In [10]:
df.shape

(100, 11)

In [12]:
df['ttl_rvnu']= df["QuantitySold"]*df["Price"]

In [13]:
df.shape

(100, 12)

In [16]:
# overall revenu = 
overall_revenue = sum(df['ttl_rvnu'])
print(overall_revenue)

27715.623757046287

In [18]:
# ttl revenu per product 
ttl_rvnu_pr_product = df.groupby('ProductID')['ttl_rvnu'].sum()
print(ttl_rvnu_pr_product)

ProductID
A    8540.940987
B    9239.251238
C    9935.431533
Name: ttl_rvnu, dtype: float64

### Calculate the average profit margin for each product

In [19]:
df["prft_mrgin"]= (df['Profit']/df['ttl_rvnu'])*100

In [21]:
df.shape

(100, 13)

In [25]:
avrag_proft_margn_pp = df.groupby('ProductID')['prft_mrgin'].mean()
print(avrag_proft_margn_pp)

ProductID
A    11.977012
B    14.828616
C    13.273612
Name: prft_mrgin, dtype: float64

###  top-selling product and categories

In [28]:
top_selling_pd = ttl_rvnu_pr_product.idxmax()
print(top_selling_pd)

C

In [35]:
sl_catgr = df.groupby('Category')['ttl_rvnu'].sum()
# print(sl_catgr)
top_sl_cat = sl_catgr.idxmax()
print(top_sl_cat)

Electronics